body {
    background: url('../img/fundobranco') no-repeat;
    background-size: cover;
    

#container{
    background-color: rgb(288, 3%, 35%, 0.323);
    border: 3px solid;
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    background-color: rgba(139, 137, 141, 0.259);
    padding: 70px;
    text-align: center;
}
#container h1 {
    color: rgb(0, 0, 0);
    /* Espaçamento dentro do elemento */
    padding: 15px;
    /* tamanho do texto */
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}
#Minhas-tarefas{
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
    outline: none;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;

}
#Pesquise-aqui::placeholder{
    color: rgb(0, 0, 0);
}
.btn-adicionar{
    background-color: rgba(4, 255, 46, 0.781);
    padding: 8px;
    border: 0px;
    border-radius: 8px;
   
}
}